-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: evetting_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course` (
  `course_id` int(11) NOT NULL AUTO_INCREMENT,
  `course_code` varchar(20) NOT NULL,
  `course_name` varchar(150) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `lecturer_id` int(11) DEFAULT NULL,
  `vetter_id` int(11) DEFAULT NULL,
  `credit` int(11) DEFAULT NULL,
  `examHour` int(11) DEFAULT NULL,
  `core` varchar(50) DEFAULT NULL,
  `coCategory` varchar(100) DEFAULT NULL,
  `uniOffer` varchar(100) DEFAULT NULL,
  `offerPeriod` varchar(100) DEFAULT NULL,
  `senateRef` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `faculty` varchar(100) DEFAULT 'FSKM',
  PRIMARY KEY (`course_id`),
  UNIQUE KEY `course_code` (`course_code`),
  KEY `lecturer_id` (`lecturer_id`),
  KEY `vetter_id` (`vetter_id`),
  CONSTRAINT `course_ibfk_1` FOREIGN KEY (`lecturer_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `course_ibfk_2` FOREIGN KEY (`vetter_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
INSERT INTO `course` VALUES (1,'CSE3403','SOFTWARE PROJECT MANAGEMENT','2026-01-21 22:17:11',3,2,3,2,'core','SOFTWARE','Degree','session 1 2025/2026',NULL,NULL,'FSKM'),(4,'CSM3313','IOT COMPUTING','2026-01-22 00:48:55',9,8,3,2,'core','','','session 1 2025/2026','','','FSKM'),(6,'CSF3233','Cyber Security','2026-04-07 03:31:36',5,6,3,2,'core','','','session 2 2025/2026','','','FSKM'),(8,'CSA3013','Modelling and Simulation','2026-07-01 18:51:48',10,11,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'FSKM');
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_information`
--

DROP TABLE IF EXISTS `course_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_information` (
  `course_id` int(11) NOT NULL,
  `academic_staff` text DEFAULT NULL,
  `classification` varchar(50) DEFAULT NULL,
  `pre_requisites` text DEFAULT NULL,
  `synopsis` text DEFAULT NULL,
  `teaching_methods` text DEFAULT NULL,
  `assessment_methods` text DEFAULT NULL,
  `transferable_skills` text DEFAULT NULL,
  `special_requirements` text DEFAULT NULL,
  `references_list` text DEFAULT NULL,
  `ca_f2f` decimal(5,2) DEFAULT 0.00,
  `ca_nf2f` decimal(5,2) DEFAULT 0.00,
  `fa_f2f` decimal(5,2) DEFAULT 0.00,
  `fa_nf2f` decimal(5,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `credit_remarks` varchar(255) DEFAULT NULL,
  `year_remarks` varchar(255) DEFAULT NULL,
  `semester_remarks` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`course_id`),
  CONSTRAINT `course_information_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_information`
--

LOCK TABLES `course_information` WRITE;
/*!40000 ALTER TABLE `course_information` DISABLE KEYS */;
INSERT INTO `course_information` VALUES (4,NULL,NULL,NULL,'',NULL,NULL,NULL,NULL,NULL,0.00,0.00,0.00,0.00,'2026-06-11 03:01:20',NULL,NULL,NULL),(6,'Muhammad Syamel','Core','','Cybersecurity is the practice of protecting systems, networks, and data from digital attacks while promoting responsible and sustainable use of technology.',NULL,NULL,'Flexim','Computer lab',NULL,2.00,0.00,1.00,0.00,'2026-04-07 03:45:30','(2+1)','Year 3','semester 6');
/*!40000 ALTER TABLE `course_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_vetters`
--

DROP TABLE IF EXISTS `course_vetters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_vetters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_id` int(11) NOT NULL,
  `vetter_id` int(11) NOT NULL,
  `is_leader` tinyint(1) NOT NULL DEFAULT 0,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_cv` (`course_id`,`vetter_id`),
  KEY `fk_cv_vetter` (`vetter_id`),
  CONSTRAINT `fk_cv_course` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_cv_vetter` FOREIGN KEY (`vetter_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_vetters`
--

LOCK TABLES `course_vetters` WRITE;
/*!40000 ALTER TABLE `course_vetters` DISABLE KEYS */;
INSERT INTO `course_vetters` VALUES (4,4,8,0,'2026-06-10 14:25:51'),(14,1,5,0,'2026-07-01 03:17:30'),(16,8,11,1,'2026-07-01 20:10:22'),(17,8,2,0,'2026-07-01 20:10:22'),(18,6,6,1,'2026-07-01 20:10:44'),(19,6,2,0,'2026-07-01 20:10:44');
/*!40000 ALTER TABLE `course_vetters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `events` (
  `event_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `event_date` datetime NOT NULL,
  `course_name` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`event_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (2,'Continuous Assessment Due','2026-07-15 23:59:00','BAHASA MANDARIN III',7),(3,'Final Exam Vetting Deadline','2026-07-20 12:00:00','DATA STRUCTURES',7),(4,'JSS Submission Due','2026-07-25 17:00:00','SOFTWARE ENGINEERING',7),(5,'FINAL ASSESSMENT','2026-07-20 22:00:00','Cyber Security',7),(6,'FINAL ASSSESSMENTS','2026-07-02 22:00:00','Cyber Security',7),(8,'FINAL ASSESSMENTS','2026-07-20 22:00:00','Cyber Security',7);
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_papers`
--

DROP TABLE IF EXISTS `exam_papers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_papers` (
  `paper_id` int(11) NOT NULL AUTO_INCREMENT,
  `course_code` varchar(20) NOT NULL,
  `course_title` varchar(150) NOT NULL,
  `faculty` varchar(50) NOT NULL DEFAULT 'FSKM',
  `lecturer_id` int(11) NOT NULL,
  `ketua_panel_id` int(11) DEFAULT NULL,
  `ketua_program_id` int(11) DEFAULT NULL,
  `paper_type` varchar(100) NOT NULL DEFAULT 'Final Examination',
  `academic_session` varchar(12) NOT NULL DEFAULT '',
  `semester` tinyint(4) NOT NULL DEFAULT 1,
  `total_questions` int(11) NOT NULL DEFAULT 0,
  `vetted_questions` int(11) NOT NULL DEFAULT 0,
  `status` varchar(30) NOT NULL DEFAULT 'DRAFT',
  `submitted_date` datetime DEFAULT NULL,
  `deadline` varchar(50) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `instructions` text DEFAULT NULL,
  `weightage` decimal(5,2) DEFAULT 0.00,
  `submission_mode` varchar(20) DEFAULT 'Individual',
  `assign_marks` int(11) DEFAULT 100,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `paper_variant` varchar(10) NOT NULL DEFAULT 'MAIN',
  PRIMARY KEY (`paper_id`),
  KEY `fk_paper_lecturer` (`lecturer_id`),
  KEY `fk_paper_ketua_panel` (`ketua_panel_id`),
  KEY `fk_paper_ketua_program` (`ketua_program_id`),
  CONSTRAINT `fk_paper_ketua_panel` FOREIGN KEY (`ketua_panel_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_paper_ketua_program` FOREIGN KEY (`ketua_program_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `fk_paper_lecturer` FOREIGN KEY (`lecturer_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_papers`
--

LOCK TABLES `exam_papers` WRITE;
/*!40000 ALTER TABLE `exam_papers` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_papers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jss`
--

DROP TABLE IF EXISTS `jss`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jss` (
  `jss_id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `course_id` int(11) DEFAULT NULL,
  `lecturer_id` int(11) NOT NULL,
  `faculty` varchar(100) DEFAULT 'FSKM',
  `programme` varchar(150) DEFAULT NULL,
  `academic_session` varchar(20) DEFAULT NULL,
  `semester` int(11) DEFAULT 1,
  `assessment_type` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`jss_id`),
  UNIQUE KEY `paper_id` (`paper_id`),
  KEY `fk_jss_lecturer` (`lecturer_id`),
  CONSTRAINT `fk_jss_lecturer` FOREIGN KEY (`lecturer_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_jss_paper` FOREIGN KEY (`paper_id`) REFERENCES `exam_papers` (`paper_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jss`
--

LOCK TABLES `jss` WRITE;
/*!40000 ALTER TABLE `jss` DISABLE KEYS */;
INSERT INTO `jss` VALUES (1,1,4,9,'FSKM','Bachelor of Science Computer with Informatic Maritme',NULL,1,'Final Exam','2026-06-09 03:51:25','2026-06-09 03:51:25'),(2,2,4,9,'FSKM','',NULL,1,'Final Exam','2026-06-09 04:11:50','2026-06-09 04:11:50'),(4,4,6,5,'FSKM',NULL,'2024/2025',2,'Final Examination','2026-06-16 01:11:30','2026-06-16 02:00:00'),(5,5,6,5,'FSKM',NULL,'2024/2025',1,'Mid-Semester Examination','2026-06-16 05:05:42','2026-06-16 05:05:42'),(6,6,6,5,'FSKM',NULL,'2023/2024',2,'Final Examination','2024-03-10 01:00:00','2026-06-16 05:43:32');
/*!40000 ALTER TABLE `jss` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jss_rows`
--

DROP TABLE IF EXISTS `jss_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jss_rows` (
  `row_id` int(11) NOT NULL AUTO_INCREMENT,
  `jss_id` int(11) NOT NULL,
  `row_order` int(11) NOT NULL DEFAULT 1,
  `topic_name` varchar(200) DEFAULT NULL,
  `lecture_hours` decimal(4,1) DEFAULT 0.0,
  `question_no` varchar(20) DEFAULT NULL,
  `plo` varchar(20) DEFAULT NULL,
  `clo` varchar(20) DEFAULT NULL,
  `question_type` varchar(5) DEFAULT NULL,
  `marks` int(11) DEFAULT 0,
  `taxonomy_level` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`row_id`),
  KEY `fk_jr_jss` (`jss_id`),
  CONSTRAINT `fk_jr_jss` FOREIGN KEY (`jss_id`) REFERENCES `jss` (`jss_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jss_rows`
--

LOCK TABLES `jss_rows` WRITE;
/*!40000 ALTER TABLE `jss_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `jss_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecturer_courses`
--

DROP TABLE IF EXISTS `lecturer_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lecturer_courses` (
  `lecturer_id` int(11) NOT NULL,
  `course_id` int(11) NOT NULL,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`lecturer_id`,`course_id`),
  KEY `fk_lc_course` (`course_id`),
  CONSTRAINT `fk_lc_course` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_lc_lecturer` FOREIGN KEY (`lecturer_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecturer_courses`
--

LOCK TABLES `lecturer_courses` WRITE;
/*!40000 ALTER TABLE `lecturer_courses` DISABLE KEYS */;
INSERT INTO `lecturer_courses` VALUES (3,6,'2026-06-16 01:11:30'),(5,6,'2026-06-16 02:00:14'),(6,6,'2026-04-07 04:00:53'),(9,4,'2026-06-01 14:40:21'),(10,8,'2026-07-01 20:10:22');
/*!40000 ALTER TABLE `lecturer_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message_reads`
--

DROP TABLE IF EXISTS `message_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `message_reads` (
  `user_id` int(11) NOT NULL,
  `paper_id` int(11) NOT NULL,
  `last_read_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`user_id`,`paper_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message_reads`
--

LOCK TABLES `message_reads` WRITE;
/*!40000 ALTER TABLE `message_reads` DISABLE KEYS */;
INSERT INTO `message_reads` VALUES (5,4,'2026-06-23 04:44:35'),(5,5,'2026-06-24 20:06:49'),(5,8,'2026-07-01 19:46:30'),(5,9,'2026-07-01 20:23:51'),(6,4,'2026-07-01 03:19:11'),(6,5,'2026-07-01 07:14:56'),(6,8,'2026-07-01 19:49:09'),(10,10,'2026-07-01 20:24:20');
/*!40000 ALTER TABLE `message_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `message_id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `sender_id` int(11) NOT NULL,
  `sender_name` varchar(200) NOT NULL,
  `sender_role` varchar(50) NOT NULL DEFAULT '',
  `body` text NOT NULL,
  `sent_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`message_id`),
  KEY `idx_paper` (`paper_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `assessment_id` int(11) DEFAULT NULL,
  `summary` varchar(255) NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paper_section_comments`
--

DROP TABLE IF EXISTS `paper_section_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paper_section_comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `section` enum('JSS','SCHEME') NOT NULL DEFAULT 'JSS',
  `vetter_id` int(11) NOT NULL,
  `vetter_name` varchar(200) DEFAULT NULL,
  `comment_text` text NOT NULL,
  `verdict` enum('APPROVED','NEEDS_REVISION','REJECTED') DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_paper_section` (`paper_id`,`section`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paper_section_comments`
--

LOCK TABLES `paper_section_comments` WRITE;
/*!40000 ALTER TABLE `paper_section_comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `paper_section_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_comments`
--

DROP TABLE IF EXISTS `question_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_comments` (
  `comment_id` int(11) NOT NULL AUTO_INCREMENT,
  `question_id` int(11) NOT NULL,
  `vetter_id` int(11) NOT NULL,
  `comment_text` text NOT NULL,
  `content_tag` varchar(100) DEFAULT NULL,
  `taxonomy_tag` varchar(100) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `verdict` enum('APPROVED','NEEDS_REVISION','REJECTED') DEFAULT NULL,
  `suggested_taxonomy` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`comment_id`),
  UNIQUE KEY `uq_question_vetter` (`question_id`,`vetter_id`),
  KEY `fk_qc_vetter` (`vetter_id`),
  CONSTRAINT `fk_qc_question` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_qc_vetter` FOREIGN KEY (`vetter_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_comments`
--

LOCK TABLES `question_comments` WRITE;
/*!40000 ALTER TABLE `question_comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_parts`
--

DROP TABLE IF EXISTS `question_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_parts` (
  `part_id` int(11) NOT NULL AUTO_INCREMENT,
  `question_id` int(11) NOT NULL,
  `part_label` varchar(10) NOT NULL,
  `part_question_text` text DEFAULT NULL,
  `part_marks` int(11) DEFAULT NULL,
  `part_model_answer` text DEFAULT NULL,
  PRIMARY KEY (`part_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `question_parts_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_parts`
--

LOCK TABLES `question_parts` WRITE;
/*!40000 ALTER TABLE `question_parts` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questions` (
  `question_id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `question_no` varchar(10) NOT NULL,
  `question_type` enum('OBJECTIVE','STRUCTURE','ESSAY') NOT NULL DEFAULT 'OBJECTIVE',
  `question_format` enum('SIMPLE','COMPLEX') NOT NULL DEFAULT 'SIMPLE',
  `question_text` text NOT NULL,
  `statement_1` varchar(500) DEFAULT NULL,
  `statement_2` varchar(500) DEFAULT NULL,
  `statement_3` varchar(500) DEFAULT NULL,
  `statement_4` varchar(500) DEFAULT NULL,
  `question_text_ms` text DEFAULT NULL,
  `marks` int(11) NOT NULL DEFAULT 0,
  `chapter` varchar(100) DEFAULT NULL,
  `taxonomy_level` varchar(10) NOT NULL DEFAULT 'C1',
  `clo_mapping` varchar(20) DEFAULT 'CLO1',
  `status` enum('DRAFT','APPROVED','NEEDS_REVISION','REJECTED') NOT NULL DEFAULT 'DRAFT',
  `choice_a` text DEFAULT NULL,
  `choice_b` text DEFAULT NULL,
  `choice_c` text DEFAULT NULL,
  `choice_d` text DEFAULT NULL,
  `correct_answer` varchar(1) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `table_data` text DEFAULT NULL,
  `model_answer` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`question_id`),
  KEY `fk_question_paper` (`paper_id`),
  CONSTRAINT `fk_question_paper` FOREIGN KEY (`paper_id`) REFERENCES `exam_papers` (`paper_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rubric_rows`
--

DROP TABLE IF EXISTS `rubric_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rubric_rows` (
  `rubric_id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `row_order` int(11) NOT NULL DEFAULT 1,
  `criterion` varchar(200) NOT NULL,
  `marks` int(11) NOT NULL DEFAULT 0,
  `clo` varchar(20) DEFAULT NULL,
  `bloom` varchar(10) DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`rubric_id`),
  KEY `fk_rubric_paper` (`paper_id`),
  CONSTRAINT `fk_rubric_paper` FOREIGN KEY (`paper_id`) REFERENCES `exam_papers` (`paper_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rubric_rows`
--

LOCK TABLES `rubric_rows` WRITE;
/*!40000 ALTER TABLE `rubric_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `rubric_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `email` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `phoneNo` varchar(20) DEFAULT NULL,
  `faculty` varchar(150) DEFAULT NULL,
  `position_title` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vetting_checklist`
--

DROP TABLE IF EXISTS `vetting_checklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vetting_checklist` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `vetter_id` int(11) NOT NULL,
  `section` varchar(20) NOT NULL,
  `ref_id` int(11) DEFAULT NULL,
  `criterion_key` varchar(100) NOT NULL,
  `is_ok` tinyint(1) NOT NULL DEFAULT 0,
  `comment` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_vcl` (`paper_id`,`vetter_id`,`section`,`ref_id`,`criterion_key`)
) ENGINE=InnoDB AUTO_INCREMENT=166 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vetting_checklist`
--

LOCK TABLES `vetting_checklist` WRITE;
/*!40000 ALTER TABLE `vetting_checklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `vetting_checklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vetting_forms`
--

DROP TABLE IF EXISTS `vetting_forms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vetting_forms` (
  `form_id` int(11) NOT NULL AUTO_INCREMENT,
  `paper_id` int(11) NOT NULL,
  `form_type` enum('FAP01a','FAP01b') NOT NULL DEFAULT 'FAP01a',
  `created_by` int(11) NOT NULL,
  `programme` varchar(200) DEFAULT NULL,
  `eq_code1` varchar(50) DEFAULT NULL,
  `eq_name1` varchar(200) DEFAULT NULL,
  `eq_code2` varchar(50) DEFAULT NULL,
  `eq_name2` varchar(200) DEFAULT NULL,
  `eq_code3` varchar(50) DEFAULT NULL,
  `eq_name3` varchar(200) DEFAULT NULL,
  `credit_hours` decimal(3,1) DEFAULT NULL,
  `total_students` int(11) DEFAULT NULL,
  `num_objective` int(11) DEFAULT 0,
  `num_structure` int(11) DEFAULT 0,
  `num_essay` int(11) DEFAULT 0,
  `total_to_answer` int(11) DEFAULT 0,
  `exam_duration` varchar(50) DEFAULT NULL,
  `assessment_type_desc` varchar(300) DEFAULT NULL,
  `weightage_percent` decimal(5,2) DEFAULT NULL,
  `task_duration` varchar(100) DEFAULT NULL,
  `clo_data` text DEFAULT NULL,
  `section_b_data` text DEFAULT NULL,
  `section_c_data` text DEFAULT NULL,
  `overall_remarks` text DEFAULT NULL,
  `vetter_name` varchar(200) DEFAULT NULL,
  `vetter_date` varchar(30) DEFAULT NULL,
  `lecturer_sign_name` varchar(200) DEFAULT NULL,
  `lecturer_sign_date` varchar(30) DEFAULT NULL,
  `head_vetter_name` varchar(200) DEFAULT NULL,
  `head_vetter_date` varchar(30) DEFAULT NULL,
  `is_improved` tinyint(1) DEFAULT 0,
  `improvement_justification` text DEFAULT NULL,
  `improvement_elaboration` text DEFAULT NULL,
  `form_status` enum('DRAFT','SUBMITTED') DEFAULT 'DRAFT',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`form_id`),
  KEY `paper_id` (`paper_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `vetting_forms_ibfk_1` FOREIGN KEY (`paper_id`) REFERENCES `exam_papers` (`paper_id`) ON DELETE CASCADE,
  CONSTRAINT `vetting_forms_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vetting_forms`
--

LOCK TABLES `vetting_forms` WRITE;
/*!40000 ALTER TABLE `vetting_forms` DISABLE KEYS */;
/*!40000 ALTER TABLE `vetting_forms` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-02  6:18:06
